/*		COLOR VARIABLES
================================*/
/*		GENERAL STYLES
================================*/
.no-p-btm {
  padding-bottom: 0; }

/*		NAV/HEADER SECTION
================================*/
#header {
  height: 123px; }

#logo img {
  max-height: 90px;
  height: auto;
  margin-top: 25px;
  margin-left: 20px; }

#header.header-sticky:not(.header-static) #header-wrap {
  height: 78px; }
  #header.header-sticky:not(.header-static) #header-wrap nav#mainMenu ul.main-menu,
  #header.header-sticky:not(.header-static) #header-wrap .nav-main-menu-responsive {
    height: 78px; }

.nav-main-menu-responsive {
  height: 123px; }

#mainMenu > ul > li > a {
  height: 123px;
  line-height: 103px;
  font-size: 14px;
  font-weight: initial;
  letter-spacing: 1.5px; }

#header.header-sticky:not(.header-static) {
  height: 78px; }
  #header.header-sticky:not(.header-static) #logo img {
    max-height: 60px;
    height: auto;
    margin-top: 9px; }
  #header.header-sticky:not(.header-static) #mainMenu > ul > li > a {
    line-height: 60px; }

#header.header-dark.header-sticky.header-navigation-light .main-menu > ul > li > a {
  color: #fff; }

#mainMenu ul.dropdown-menu {
  border: 0px solid black;
  background-color: rgba(0, 0, 0, 0.56); }

#mainMenu ul li.mega-menu-item .mega-menu-title, #mainMenu ul li.dropdown:not(.mega-menu-item) li {
  border: 0px solid black; }

.lines, .lines:before, .lines:after {
  background-color: #fff; }

#header.header-sticky #header-wrap,
#header.header-dark-transparent {
  background-color: rgba(0, 0, 0, 0.56); }

.donate-button {
  width: 210px;
  position: fixed;
  right: 70px;
  padding: 5px 0;
  background-color: magenta;
  box-shadow: 0 5px 10px #222;
  z-index: 2;
  transform: skewX(-19deg); }
  .donate-button p {
    font-weight: 700;
    font-size: 27px;
    padding: 2px 0;
    padding-top: 4px;
    margin: 0;
    color: rgba(255, 255, 255, 0.67);
    transform: skewX(19deg); }

.donate-button:hover {
  background-color: #ff8dff;
  cursor: auto; }

/*		SLIDER SECTION
================================*/
#slider {
  z-index: -1; }
  #slider h2 {
    letter-spacing: 2px;
    font-size: 76px;
    line-height: 71px; }
  #slider .slide-captions h1 {
    position: absolute;
    bottom: -17px;
    left: 0;
    right: 0;
    margin-bottom: 0;
    letter-spacing: 4px; }
  #slider button {
    width: 270px;
    height: 60px;
    background: transparent;
    font-size: 26px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    opacity: .87; }

/*		HOME: PARTNERS SECTION
=============================================*/
.school-imgs {
  padding: 98px 0; }
  .school-imgs .owl-controls,
  .school-imgs .owl-nav,
  .school-imgs .owl-dots {
    display: none; }

/*		PARTNERS: PARTNERS BIO SECTION
=============================================*/
.partners-section h3 {
  font-size: 34px;
  letter-spacing: .8px;
  line-height: 1;
  padding-top: 7px; }
.partners-section h4 {
  font-size: 27px;
  line-height: 30px; }
.partners-section p {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: .1px; }
.partners-section .news-research img {
  width: 230px;
  position: absolute;
  top: -137px; }
.partners-section .news-research h3 {
  font-size: 30px; }
.partners-section .news-research .article-brief .article-heading,
.partners-section .news-research .article-brief .article-description,
.partners-section .news-research .article-brief .article-link {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  display: block; }
.partners-section .news-research .article-brief .article-heading {
  padding-top: 16px; }

.harvard {
  padding-bottom: 160px; }
  .harvard p {
    color: #666666; }
  .harvard .news-research img {
    top: -162px; }

.stanford p {
  color: #999999;
  line-height: 22px; }
.stanford .article-heading {
  color: #4d4d4d !important; }

.ucsf .partners-heading {
  color: #ffe9ff !important; }
.ucsf p,
.ucsf .article-description {
  color: #ffb6ff; }
.ucsf .news-research img {
  width: 356px;
  top: -160px; }

/*		PARTNERS: DONATE SECTION
=============================================*/
.donate-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0; }
  .donate-wrap .donate-highlight {
    height: 30px;
    width: 100%;
    background-color: blue;
    border-radius: 30px 0 0 0; }

.donate-section {
  padding: 39px 0; }
  .donate-section h1 {
    font-size: 69px;
    line-height: 65px;
    margin: 0; }
  .donate-section h2 {
    font-size: 28px;
    line-height: 32px;
    margin: 0; }
  .donate-section .donate-btn {
    width: 270px;
    height: 60px;
    color: rgba(255, 255, 255, 0.87) !important;
    font-size: 43px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 0;
    margin: 0;
    padding: 0 !important;
    position: absolute;
    bottom: 122px;
    right: 51px; }
  .donate-section .donate-btn:hover {
    color: white !important;
    border: 1px solid white; }

/*		PRESS RELEASE: PRESS SECTION
=============================================*/
.press .press-release-date {
  color: #999999; }
.press .article-heading {
  color: #4d4d4d; }

/*		WHAT WE DO: INFO SECTION
=============================================*/
.what-we-do h5 {
  font-size: 27px;
  line-height: 30px;
  margin: 0; }
.what-we-do p {
  color: #999999; }
.what-we-do .help h5 {
  font-size: 18px;
  line-height: 18px;
  color: #ffb6ff;
  letter-spacing: 0.5px; }
.what-we-do .help .donate-btn {
  width: 100%;
  height: 60px;
  font-size: 43px;
  border: 1px solid magenta;
  border-radius: 0;
  padding: 0 !important;
  margin-bottom: 0; }
.what-we-do .help p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .1px;
  color: #000; }

/*		WHO WE ARE: DIRECTORS SECTION
=============================================*/
.directors .profile-img-wrap {
  max-height: 343px;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .directors .profile-img-wrap img {
    position: relative;
    z-index: -1; }
.directors h2 {
  font-size: 65px;
  color: rgba(171, 0, 171, 0.87) !important;
  letter-spacing: .5px;
  padding-top: 2px;
  margin-bottom: 0; }
.directors h4 {
  margin-bottom: 0; }
.directors hr {
  width: 70px;
  border-top: 5px solid magenta;
  margin: 40px auto; }
.directors .info-col {
  padding: 0 26px; }
  .directors .info-col .bio {
    letter-spacing: .1px; }
.directors img {
  width: 100%; }
.directors .border {
  border-bottom: 1px solid #ffb6ff; }

/*		WHO WE ARE: DEP DIRECTOR SECTION
===============================================*/
.dep-director .dep-header .dep-img {
  width: 158px;
  height: 158px;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 50%;
  border: 7px solid #e8e6e8;
  position: relative;
  background: #333;
  z-index: 1;
  overflow: hidden; }
.dep-director .dep-header img {
  max-width: 103%;
  left: 3px;
  bottom: 16px;
  position: relative;
  z-index: -1; }
.dep-director .dep-header h4 {
  margin-bottom: 0; }
.dep-director .dep-header p {
  color: black !important;
  margin-bottom: 0; }
.dep-director hr {
  margin: 30px 0; }

/*		HOME: PARTICLES SECTION
===============================================*/
.particles-section p.lead {
  font-size: 43px;
  letter-spacing: -2.5px;
  line-height: 44px;
  position: relative;
  top: 25px; }

.home-page .particles-section #particles-js {
  background: #f0c1fa; }

/*		WHO WE ARE: PARTICLES SECTION
===============================================*/
.who-we-are-page h1 {
  color: #fff;
  font-size: 65px;
  line-height: 64px; }
.who-we-are-page h2 {
  color: #fff;
  font-size: 49px;
  letter-spacing: .5px; }
  .who-we-are-page h2 span {
    color: magenta !important; }
.who-we-are-page h3 {
  font-size: 28px;
  line-height: 34px; }
.who-we-are-page #particles-js {
  background: black !important; }

/*		HOME: IMAGINE SECTION
================================*/
.imagine-text p {
  font-size: 65px;
  line-height: 1;
  letter-spacing: .6px;
  padding-bottom: 0;
  margin-bottom: 0; }

/*		WHO WE ARE: VISION SECTION
=========================================*/
.vision h1 {
  letter-spacing: 1px;
  font-size: 76px;
  line-height: 46px; }
.vision h2 {
  font-size: 43px;
  line-height: 46px;
  letter-spacing: -1px; }
.vision .mission h1 {
  font-size: 66px;
  color: rgba(171, 0, 171, 0.87) !important;
  margin: 0; }
.vision .mission h2 {
  font-size: 28px;
  line-height: 31px; }

/*		PLEASE JOIN SECTION
================================*/
.please-join-section {
  padding: 50px 0; }
  .please-join-section .donate-btn {
    width: 80%;
    margin: 0 auto;
    max-width: 640px;
    height: 60px;
    font-size: 43px;
    color: rgba(255, 255, 255, 0.87) !important;
    border: 1px solid rgba(255, 255, 255, 0.6);
    text-align: center;
    letter-spacing: 2px;
    padding: 0 !important;
    opacity: .87;
    border-radius: 0; }
  .please-join-section p {
    letter-spacing: .5px; }
  .please-join-section p:first-child {
    font-size: 65px;
    line-height: 56px;
    margin: 0; }
  .please-join-section p:nth-child(2) {
    font-size: 28px; }
  .please-join-section p:nth-child(3) {
    font-size: 23px;
    line-height: 1.2; }

/*		WHAT IS POSSIBLE SECTION
===================================*/
.what-is-possible-section p {
  font-size: 29px;
  line-height: 1.5;
  letter-spacing: .3px; }

/*		CONTACT US: CONTACT SECTION
===================================*/
.contact h3 {
  font-size: 29px; }
.contact p {
  font-size: 16px;
  line-height: 24px;
  color: #787878; }
.contact address {
  line-height: 20px; }
  .contact address span {
    color: #787878; }
.contact .form-control {
  border: none; }
.contact label {
  color: #787878; }
.contact form button {
  border-radius: 0;
  border: none !important; }

/*		COLORS SECTION
================================*/
.text-uppercase {
  text-transform: uppercase; }

.text-pink {
  color: magenta !important; }

.background-dark-pink {
  background-color: #a818ab !important;
  color: white; }

.background-light-pink {
  background-color: #ff8dff !important;
  color: #ffd4ff; }

.background-lighter-pink {
  background-color: #ffe9ff; }

.background-bright-pink {
  background-color: #ffadff; }

.background-pink {
  background-color: magenta !important;
  color: white; }

.background-black {
  background-color: black !important;
  color: white; }

.background-green {
  background-color: #7fcece !important;
  color: white; }

.imagine-section {
  font-size: 65px; }

/*		FOOTER SECTION
================================*/
.widget-newsletter small {
  font-size: 14px; }
.widget-newsletter .tax-info {
  width: 245px;
  margin-top: 45px; }
  .widget-newsletter .tax-info small {
    line-height: 18px; }
  .widget-newsletter .tax-info .tax-number {
    font-size: 23px;
    padding-bottom: 0; }

footer .mission-statement {
  margin: 0;
  padding-bottom: 16px;
  font-size: 16px; }

.rights {
  color: #6b6c6d; }

.background-dark .widget.widget-newsletter .input-group-addon {
  color: #c4c5c6; }

/*		MEDIA QUERIES 
================================*/
@media (max-width: 1199px) {
  #slider .slide-captions h1 {
    bottom: -4px;
    font-size: 83px; }

  .donate-section .donate-btn {
    bottom: 176px; }

  .directors .profile-img-wrap {
    max-height: 275.328px; } }
@media (max-width: 1108px) {
  #slider h2 {
    letter-spacing: 1px;
    font-size: 56px;
    line-height: 55px; }

  #mainMenu > ul > li > a {
    font-size: 12px; }

  .header-sticky #logo {
    max-width: 380px;
    top: 9px; } }
@media (max-width: 992px) {
  #slider h2 {
    font-size: 47px;
    line-height: 50px; }

  .donate-button {
    position: absolute; }

  .donate-section .donate-btn {
    bottom: 239px; }

  .news-research {
    padding-left: 0 !important; }

  .partners-section .news-research img {
    position: initial; }

  #header.header-dark.header-navigation-light .lines,
  #header.header-dark.header-navigation-light .lines:before,
  #header.header-dark.header-navigation-light .lines:after {
    background-color: #fff; }

  .directors .profile-img-wrap {
    max-height: 327.688px; } }
@media (max-width: 767px) {
  #slider .slide-captions h1 {
    font-size: 50px;
    bottom: 0; }

  .donate-section .donate-btn {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0; }

  .directors .profile-img-wrap {
    max-height: 424.172px; } }

/*# sourceMappingURL=output.css.map */
